/*Main Rules*/
/* 1) Import Google Font */


/* 2) Bulky Color Tokens */
:root {
    --primary-color: #245351; /* Deep Teal */
    --secondary-color: #d79e48; /* Burnt Orange */
    --section-color: #eff7fa;
    --dark-color: #000000; /* Dark Gray */
    --light-color: #ffffff; /* White */
}

.container {
    max-width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}
a:hover,button:hover{
    color: var(--secondary-color) !important;
}
a:focus {
    outline: none !important;
    box-shadow: none !important;
}





html,
body {
    max-width: 100%;
    overflow-x: hidden;
}



.navbar {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.navbar .navbar-brand {
    font-size: 1.5em;
    color: var(--secondary-color);
    font-weight: bold;
}


.navbar .navbar-nav {
    font-size: 1.2em;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--light-color);
    position: relative;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link {
    color: var(--secondary-color);
}

/* Navbar Underline Animation */
.navbar .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.2s ease-in-out;
    margin-top: 4px;
}

.navbar .navbar-nav .nav-item .nav-link:hover::after,
.navbar .navbar-nav .nav-item.active .nav-link::after {
    width: 100%;
}


/*Categories Style*/
.create-category form {
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.create-category form input:not([type="checkbox"]) {
    border: 1px solid transparent;
    border-bottom-color:  #ccc;     
    padding: 10px;
    border-radius: 4px;
}

.create-category form input:not([type="checkbox"]):focus {
    border: 1px solid var(--primary-color);
}

.create-category form .btn:focus {
    box-shadow:none !important;
}
.create-category form .back-list a:hover {
    background-color:var(--dark-color);
}

.create-category form button {
    background-color:var(--dark-color);
    color:var(--secondary-color);
}

.create-category form button:hover {
    background-color:var(--light-color);
    color:var(--dark-color) !important;
}

.create-category form input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border: none;
}
.categories .create:focus {
    background-color: var(--primary-color);
    border: none;
    outline:none;
    box-shadow:none;
}
form .delete {
    background-color: #dc3545 !important;
}
form .delete:hover {
    background-color:var(--light-color) !important;
}

footer {
    background-color: var(--dark-color);

}
