@model Category
<div class="create-category p-5 mt-5">
    <div class="container">
        <div class="row edit-header pb-2">
            <h2 class="text-center"> Edit Category </h2>
        </div>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Category Name</label>
                <input asp-for="Name" class="form-control" value=@Model.Name />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DisplayOrder" class="form-label"> Display Order</label>
                <input asp-for="DisplayOrder" class="form-control" value=@Model.DisplayOrder />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>

            <div class="form-switch mb-3">
                <input type="checkbox" asp-for="IsHidden" class="form-check-input" />
                <label asp-for="IsHidden" class="form-label">Hide Category</label>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 ">
                        <button type="submit" class="btn btn-dark form-control mb-3">Update</button>
                    </div>

                    <div class="col-lg-6 col-sm-12 back-list">
                        <a class="btn btn-outline-secondary form-control" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
